@model IEnumerable<BhagavadGita.Models.ChapInfo>
@{
    ViewBag.Title = "Home";
}
<link rel="stylesheet" href="~/Content/index.css" />
<style>
    .container {
        padding: 0px !important;
        width: 100% !important;
    }

    .cardDiv {
        display: flex;
        flex-wrap: wrap;
    }

    .cards {
        margin: 10px;
        padding: 10px;
        /*color: #FFFFFF;*/
        color: #000000;
        flex: 20%;
        border: 1px solid black;
        border-radius: 5px;
        /*background: rgb(131,58,180);
        background: linear-gradient(30deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);*/
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
</style>
<div class="cardDiv">
    @foreach (var item in (IEnumerable<BhagavadGita.Models.ChapInfo>)ViewData["chapters"])
    {
        <div class="cards" style="width: 18rem;">
            <img src="~/images/ParthaSarathy.jpg" class="card-img-top" alt="..." style="width: 100%; height: auto;">
            <div class="card-body">
                <span style="display: none;">@Html.DisplayFor(modelItem => item.chId)</span>
                <h5 class="card-title"><strong>@Html.DisplayFor(modelItem => item.chName)</strong></h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.chDesc)</p>
                <a href="#" class="btn btn-primary" onclick="myFun(@Html.DisplayFor(modelItem => item.chId))">Enter into Chapter @Html.DisplayFor(modelItem => item.chId)</a>
            </div>
        </div>
    }
</div>
<script>
    function myFun(chId) {
        //alert(chId);
        var data = new FormData();
        data.append('chId', chId);
        jQuery.ajax({
            url: '/Home/ChapterSelection',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: 'POST',
            success: function (data) {
                var data = data.data;
                var len = data.length;
                console.log(data);
                console.log("Len: " + len);
                window.location.href = "/Home/Result?chId=" + chId;
            }
        });
    }
</script>