@model IEnumerable<BhagavadGita.Models.ShlokaInfo>
@{
    ViewBag.Title = "Result";
}
<style>
    .container {
        padding: 0px 30px !important;
        width: 100% !important;
    }

    .cardDiv {
        display: flex;
        flex-wrap: wrap;
    }

    .cards {
        margin: 10px;
        padding: 10px;
        flex: 30%;
        border: 1px solid black;
        border-radius: 5px;
    }

    .rightAlign{
        text-align: right;
        padding-right: 5px;
        vertical-align: top;
        font-weight: bolder;
    }

    .leftAlign {
        text-align: justify;
        padding-right: 5px;
        vertical-align: top;
        /*font-weight: bolder;*/
    }

    details{
        border: 1px solid gray;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }

    details>summary{
        list-style-type: '▶';
    }

    details[open]>summary{
        list-style-type: '🔽';
        margin-bottom: 0.5rem;
    }
</style>
<h1>@ViewBag.ChapterName</h1>
<div class="cardDiv">
    @foreach (var item in (IEnumerable<BhagavadGita.Models.ShlokaInfo>)ViewData["shlokas"])
    {
        <div class="cards">
            <table>
                <tr>
                    <td class="rightAlign" style="width: 10%;">Shloka: </td>
                    <td class="leftAlign" style="width: 70%;">@Html.DisplayFor(modelItem => item.Shloka)</td>
                </tr>
                <tr>
                    <td class="rightAlign">Transliteration: </td>
                    <td class="leftAlign">@Html.DisplayFor(modelItem => item.Transliteration)</td>
                </tr>
                <tr>
                    <td class="rightAlign">ShlokaTrans: </td>
                    <td class="leftAlign">@Html.DisplayFor(modelItem => item.ShlokaTrans)</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="rightAlign">Notes</td>
                    <td class="leftAlign">@Html.DisplayFor(modelItem => item.Notes)</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <details>
                            <summary>Click here for Purport</summary>
                            <p>
                                @Html.DisplayFor(modelItem => item.Purport)
                            </p>
                        </details>
                    </td>
                </tr>
                @*<tr>
                    <td colspan="2">
                        <a href="#" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#largeModal">Click to open Modal</a>
                    </td>
                </tr>*@
            </table>
            @*<p>@Html.DisplayFor(modelItem => item.Purport)</p>*@
            <!-- large modal -->
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Shloka @Html.DisplayFor(modelItem => item.ShlokaId).@Html.DisplayFor(modelItem => item.ShlokaSubId)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                        @Html.DisplayFor(modelItem => item.Purport)
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

    }
</div>

